<div class="container">
  <!-- UPPER FILTERS START -->

  <div class="container block box has-background-white">
    <!--TODO: Update the value accordingly  -->
    <p class="title is-3">Found {{ trips.length }} results</p>
    <hr />
    <form
      [formGroup]="topFilterForm"
      (ngSubmit)="filterTripsByDestinationAndDate()"
      class="columns"
    >
      <div class="column is-two-fifths">
        <div class="field">
          <label class="label">Destination</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="text"
              placeholder="Destination goes here"
              formControlName="DestinationFilter"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faHome"></fa-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Start Date</label>
              <div class="control">
                <input
                  class="input"
                  type="date"
                  formControlName="StartDateFilter"
                />
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">End Date</label>
              <div class="control">
                <input
                  class="input"
                  type="date"
                  formControlName="EndDateFilter"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="control">
          <label class="label has-text-white"> a </label>
          <button type="submit" class="button is-primary is-fullwidth">
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="control has-icons-left">
      <div class="select is-rounded">
        <select [(ngModel)]="selectedOption">
          <option value="lowestPrice">Price: from lowest</option>
          <option value="highestPrice">Price: from highest</option>
          <option value="az">From A to Z</option>
          <option value="za">From Z to A</option>
          <option value="lowestRating">Rating: from lowest</option>
          <option value="highestRating">Rating: from highest</option>
          <option value="longestDuration">Duration: from longest</option>
          <option value="shortestDuration">Duration: from shortest</option>
        </select>
      </div>
      <div class="icon is-small is-left">
        <fa-icon [icon]="faArrowUpWideShort"></fa-icon>
      </div>
    </div>
  </div>

  <!-- UPPER FILTERS END -->

  <!-- LEFT FILTERS START -->
  <div class="columns">
    <div class="column is-0-mobile block is-one-fifth">
      <div class="container box has-background-white">
        <p class="title is-4">Filters:</p>
        <hr />
        <div class="field">
          <label class="label">Tags</label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Vacation
          </label>
          <label class="checkbox m-1 m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Fun
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Adventure
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Relax
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Beach
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            City
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Mountains
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Summer
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Winter
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Spring
          </label>
          <label class="checkbox m-1">
            <input type="checkbox" (change)="addTagToFilters($event)" />
            Fall
          </label>
        </div>
        <hr />
        <div class="field">
          <label class="label">Currency</label>
          <div class="control has-icons-left">
            <div class="select is-rounded">
              <select 
                [(ngModel)]="selectedCurrency" 
                (ngModelChange)="updateExchangeRate()">
                <option>EUR</option>
                <option>GBP </option>
                <option>USD</option>
                <option>JPY</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <fa-icon [icon]="faMoneyBillAlt"></fa-icon>
            </span>
          </div>
        </div>
        <hr />
        <form 
        [formGroup]="sideFilterForm" 
        (ngSubmit)="filterTripsByPrice()">
          <div class="field">
            <label class="label">Price from:</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="number"
                placeholder="Price"
                formControlName="PriceFrom"
              />
              <span class="icon is-small is-left">
                <fa-icon [icon]="faMoneyBillWave"></fa-icon>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Price to:</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="number"
                placeholder="Price"
                formControlName="PriceTo"
              />
              <span class="icon is-small is-left">
                <fa-icon [icon]="faMoneyBillWave"></fa-icon>
              </span>
            </div>
          </div>
          <hr />
          <div class="control">
            <button 
            type="submit"
            class="button is-primary is-fullwidth">
              Filter
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- LEFT FILTERS END -->

    <!-- TRIPS START -->

    <div class="column">
      <div
        *ngFor="
          let trip of trips
            | filterTripsByTopBar : selectedTopBarFilter
            | filterTripsByTag : selectedTags
            | filterTripsByPrice : selectedSideBarFilter
            | sortTrips : selectedOption
        "
        class="container block box"
        [class.has-background-warning-light]="trip.Capacity <= 5"
        [class.has-background-grey-dark]="trip.Capacity === 0"
        [class.most-expensive]="trip === getHighestPriceTrip()"
        [class.least-expensive]="trip === getLowestPriceTrip()"
        id="trip"
      >
        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter">
              <figure class="image is-square">
                <img
                  class="is-rounded"
                  src="../../assets/images/island.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="column is-three-fifths">
              <p class="title is-3">{{ trip.TripName }}</p>
              <p class="subtitle is-5 has-text-grey">
                {{ trip.Country }}, {{ trip.City }}
              </p>
              <div class="content block">
                <p>{{ trip.Description }}</p>
                <span class="has-text-weight-bold">Date: </span>
                <span>
                  <time>{{ trip.StartDate | date : "mediumDate" }}</time>
                  <fa-icon class="ml-2 mr-2" [icon]="faArrowRight"></fa-icon>
                  <time>{{ trip.EndDate | date : "mediumDate" }}</time>
                </span>
                <br />
                <span class="has-text-weight-bold">Tags: </span>
                <span *ngFor="let tag of trip.Tags" class="container">
                  <span class="tag is-light mr-1">{{ tag }}</span>
                </span>
                <hr />
                <div class="columns">
                  <div class="column is-half">
                    <p class="title is-3">
                      Price:
                      <span class="has-text-primary"> {{ convertPriceToSelectedCurrency(trip.Price) | currency:selectedCurrency:'symbol':'1.2-2' }}</span>
                    </p>
                  </div>
                  <div class="column">
                    <p class="buttons">
                      <button
                        class="button is-primary"
                        id="buy-button"
                        (click)="addToCart(trip)"
                        [disabled]="trip.Capacity === 0"
                      >
                        <span class="icon">
                          <fa-icon [icon]="faPlus"></fa-icon>
                        </span>
                        <span>Buy</span>
                      </button>
                      <button
                        class="button is-danger is-light"
                        id="remove-button"
                        (click)="removeFromCart(trip)"
                        [disabled]="trip.Capacity === trip.MaxCapacity"
                      >
                        <span class="icon">
                          <fa-icon [icon]="faMinus"></fa-icon>
                        </span>
                        <span>Remove</span>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column has-text-centered">
              <div class="columns">
                <div class="column is-half"></div>
                <div class="column is-half">
                  <div class="heart-container" (click)="addToFavorites(trip)">
                    <fa-icon [icon]="faHeart" class="heart"></fa-icon>
                  </div>
                </div>
              </div>
              <p class="subtitle is-5 mb-1 mt-5">Rating:</p>
              <div class="rating">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfStroke"></fa-icon>
              </div>
              <button class="button is-info mt-3">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TRIPS END -->
