<form 
    [formGroup]="TripForm" 
    (ngSubmit)="onSubmit()" 
    class="container">
    <div class="columns m-5 p-3">
        <div class="column has-background-white pb-0 pt-0">
            <div class="container box">
                <div class="field">
                    <label class="label">Trip Name</label>
                    <div class="control has-icons-left has-icons-right">
                    <input 
                    class="input" 
                    type="text" placeholder="Fantastic trip to ..."
                    required
                    minlength="5"
                    maxlength="40"
                    formControlName="TripName"
                    >
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripName'].errors?.['minlength'] || TripForm.controls['TripName'].errors?.['maxlength'] || TripForm.controls['TripName'].errors?.['required']"
                    class="help is-danger">Name between 5 and 30 letters.
                    </p>
                </div>
            </div>
            <div class="field-body box">
                <div class="field">
                    <label class="label">Country</label>
                    <div class="control has-icons-left has-icons-right">
                    <input 
                    class="input" 
                    type="text" placeholder="France"
                    required
                    minlength="3"
                    maxlength="30"
                    formControlName="TripCountry">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faEarthAmerica"></fa-icon>
                    </span>
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripCountry'].errors?.['minlength'] || TripForm.controls['TripCountry'].errors?.['maxlength'] || TripForm.controls['TripCountry'].errors?.['required']"
                    class="help is-danger">Country name must be filled.
                    </p>
                </div>
                <div class="field">
                    <label class="label">City</label>
                    <div class="control has-icons-left has-icons-right">
                    <input 
                    class="input" 
                    type="text" placeholder="Cannes"
                    required
                    minlength="3"
                    maxlength="30"
                    formControlName="TripCity">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faLocationDot"></fa-icon>
                    </span>
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripCity'].errors?.['minlength'] || TripForm.controls['TripCity'].errors?.['maxlength'] || TripForm.controls['TripCity'].errors?.['required']"
                    class="help is-danger">City name must be filled.
                    </p>
                </div>
            </div>
        
            <div class="field box">
                <label class="label">Description</label>
                <div class="control">
                <textarea 
                class="textarea" 
                placeholder="Write description here ..."
                formControlName="TripDescription"></textarea>
                </div>
                <p
                *ngIf="TripForm.controls['TripDescription'].value === ''"
                class="help is-info">Trips with description are more popular.
                </p>
            </div>

            <div class="field-body box">
                <div class="field">
                    <label class="label">Start date: </label>
                    <div class="control">
                        <input 
                        class="input" 
                        type="date" name="startDate" id="sd"
                        required
                        formControlName="TripStartDate">
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripStartDate'].errors?.['required']"
                    class="help is-danger">
                    Start date must be filled.
                    </p>
                </div>
                <div class="field">
                    <label class="label">End date: </label>
                    <div class="control">
                        <input 
                        class="input" 
                        type="date" 
                        name="endDate" 
                        id="ed"
                        required
                        formControlName="TripEndDate">
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripEndDate'].errors?.['required']"
                    class="help is-danger">
                    End date must be filled.
                    </p>
                </div>
            </div>
        
            <div class="field-body box">
                <div class="field">
                    <label class="label">Price </label>
                    <div class="field has-addons">
                        <p class="control">
                            <input 
                            class="input " type="number" placeholder="2000"
                            required
                            max="100000"
                            formControlName="TripPrice">
                        </p>
                        <p class="control">
                            <span class="select">
                                <select formControlName="TripPriceCurrency">
                                    <option selected=>£</option>
                                    <option>€</option>
                                    <option>$</option>
                                    <option>zł</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <p
                    *ngIf="TripForm.controls['TripPrice'].errors?.['required']"
                    class="help is-danger">
                    Price must be filled.
                    </p>
                    <p
                    *ngIf="TripForm.controls['TripPrice'].errors?.['max']"
                    class="help is-danger">
                    Maximum price excided.
                    </p>
                </div>
                <div class="field">
                    <label class="label">Capacity </label>
                    <p class="control is-expanded">
                        <input 
                        class="input" type="number"
                        placeholder="1"
                        required
                        min="1"
                        max="100"
                        formControlName="TripCapacity">
                    </p>
                    <p
                    *ngIf="TripForm.controls['TripCapacity'].errors?.['required']"
                    class="help is-danger">
                    Capacity must be filled.
                    </p>
                    <p
                    *ngIf="TripForm.controls['TripCapacity'].errors?.['min']"
                    class="help is-danger">
                    Minimum capacity is 1.
                    </p>
                    <p
                    *ngIf="TripForm.controls['TripCapacity'].errors?.['max']"
                    class="help is-danger">
                    Maximum capacity is 100.
                    </p>
                </div>
            </div>
            
            <div class="field box">
                <label class="label">Link to photo</label>
                <div class="control has-icons-left">
                    <input 
                    class="input" 
                    type="text"
                    placeholder="https://www.example.com/image.jpg"
                    formControlName="TripImage">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faLink"></fa-icon>
                    </span>
                </div>
                <p
                *ngIf="TripForm.controls['TripImage'].value === ''"
                class="help is-info">Trips with photo attached, are more popular.
                </p>
                <div *ngIf="TripForm.controls['TripImage'].invalid"></div>
                <p
                *ngIf="TripForm.controls['TripImage'].invalid &&
                (TripForm.controls['TripImage'].errors?.['linkValidator'] || TripForm.controls['TripImage'].touched)"
                class="help is-danger">Link must be valid.
                </p>
            </div>

            <div class="field box">
                <div class="field">
                    <label class="label">Tags</label>
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static">
                                #
                            </a>
                        </p>
                        <p class="control is-expanded">
                            <input 
                            type="text" 
                            class="input"
                            placeholder="e.g. beach, sun, fun"
                            formControlName="TripTags"
                            id="tag-input">
                        </p>
                        <p class="control">
                            <button 
                            class="button is-info"
                            (click)="addTag()"
                            id="tag-button">
                                Add
                            </button>
                        </p>
                    </div>
                    <p class="help is-info">Add tags to help people find your trip.
                    </p>
                </div>
            <div class="container">
                <span class="tag is-medium is-warning is-light ml-0 mt-1 mr-1 mb-1">
                    Your tags:
                </span>
                <span 
                *ngFor="let tag of tags" 
                class="tag is-info is-light m-1 is-medium">
                    {{tag}}
                    <button 
                    class="delete is-small" 
                    (click)="removeTag(tag)">
                    </button>
                </span>
                <span class="tag is-white is-medium"></span>
            </div>
            </div>
            
            <div class="field is-grouped box">
                <div class="control">
                <button class="button is-link"                  type="submit">Submit</button>
                </div>
                <div class="control">
                <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </div>
        <div class="column box" id="main-container">
            <p class="title is-1 has-text-grey-dark">Your dream vacation starts here ...</p>
        </div>
    </div>
</form>

