.frame {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  min-height: 300px;
}

.go-back-link {
  position: absolute;
  top: 20px;
}

.go-back-link:hover {
  text-decoration: underline;
}
