<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src={{Image}} alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-3">{{ TripName }}</p>
        <p class="subtitle is-5">{{ Destination }}</p>
        <div class="content">
            {{ Description }}
            <br>
            <br>
            <span class="has-text-weight-bold">Data rozpoczęcia: </span>
            <time datetime="01/01/2020">{{StartDate}}</time> 
            <br>
            <span class="has-text-weight-bold">Data zakończenia: </span>
            <time datetime="01/01/2020">{{EndDate}}</time>
            <br>
            <br>
            <hr>
            <p class="title">Cena: 
                <span class="has-text-primary">
                {{ Price }}zł
                </span>
            </p>
            <a href="#">#{{ Destination }}</a> 
            <a href="#">#Fun</a>
            <a href="#">#Vacation</a>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">
            <span class="icon-text">
                <span>Buy</span>
                <span class="icon">
                    <fa-icon [icon]="faShoppingBasket"></fa-icon>
                </span>
            </span>
        </a>
        <a href="#" class="card-footer-item">
            <span class="icon-text">
                <span>Save</span>
                <span class="icon">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </span>
            </span>
        </a>
        <a href="#" class="card-footer-item">
            <span class="icon-text">
                <span>Share</span>
                <span class="icon">
                    <fa-icon [icon]="faShare"></fa-icon>
                </span>
            </span>
        </a>
    </footer>
</div>
