.frame {
    background-image: linear-gradient(to right, #4545455c, #f5f5f598), url("../../assets/images/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}