<section class="hero block is-halfheight frame">
    <div class="hero-body">
      <div class="">
        <p class="title is-1 has-text-white">
         Title
        </p>
        <p class="subtitle has-text-white">
          Half height subtitle
        </p>
      </div>
    </div>
  </section>
<section class="container">
    <div class="tabs">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Description</a></li>
          <li><a>Attractions</a></li>
          <li><a>Details</a></li>
        </ul>
    </div>

    <!-- Overview -->
    <div class="container box">
        <p class="subtitle">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
            Date:
        </p>
        <p class="subtitle">
            <fa-icon [icon]="faCalendarAlt"></fa-icon>
            Price:
        </p>
    </div>

    <!-- Description -->
    <div class="container box is-hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam alias adipisci voluptatibus est quae aliquam fugiat fuga numquam, consequatur, nostrum qui debitis! Error perferendis non distinctio inventore. Ad, distinctio.
    </div>

    <!-- Trip Attractions -->
    <div class="container box is-hidden">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quidem ullam! Neque inventore ea molestias ipsum perferendis. Quidem excepturi fugit consectetur unde, voluptatum nisi laboriosam, totam, id quisquam natus ab.</p>
    </div>

    <!-- Trip Details -->
    <div class="container box is-hidden">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quidem ullam! Neque inventore ea molestias ipsum perferendis. Quidem excepturi fugit consectetur unde, voluptatum nisi laboriosam, totam, id quisquam natus ab.</p>
    </div>
</section>