<div class="section is-medium">
  <div class="container has-text-centered">
    <p class="title is-1 block mb-5">About us</p>
    <hr />
    <div class="columns is-8">
      <div class="column p-2 m-2 box">
        <p class="title is-3">Our mission</p>
        <hr />
        <p class="is-5 has-text-left has-text-justified p-3">
          We want to make your life easier by providing you with a platform
          where you can find vacation offers that you like and enjoy your free
          time in a best possible way.
        </p>
      </div>
      <div class="column p-2 m-2 box">
        <p class="title is-3">Our team</p>
        <hr />
        <p class="is-5 has-text-left has-text-justified p-3">
          Our team consists of 5 members. We are all very passionate about
          programming and we are excited to work on this project.
        </p>
      </div>
      <div class="column p-2 m-2 box">
        <p class="title is-3">Famous quote?</p>
        <hr />
        <blockquote class="is-5 has-text-left has-text-justified p-3">
            "I haven't been everywhere, but it's on my list."
            <br />
            <br />
            <span class="is-6">Susan Sontag</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>
