<div class="box">
  <div class="columns">
    <div class="column is-half">
      <p class="title is-4">{{ review.Title }}</p>
      <p class="subtitle is-6">{{ review.ReviewDate | date : "mediumDate" }}</p>
    </div>
    <div class="column">
      <p class="subtitle is-5 is-pulled-right">
        Score:
        <strong> {{ review.Rating }} / 5 </strong>
      </p>
    </div>
  </div>
  <p class="block">
    {{ review.ReviewText }}
  </p>
  <p class="subtitle is-6 block">
    <strong>{{ review.ReviewerName }}</strong>
  </p>
</div>
