.hero .hero-body .container h1 {
  font-size: 4rem !important;
  font-weight: 700 !important;
}

section.container {
  width: 50%;
}

nav.level .level-item a.subtitle:hover {
  color: hsl(229, 53%, 53%);
}

.level-item div {
  border-bottom: solid 2px transparent;

  transition: border-bottom 0.3s ease-in-out;
}

.level-item div:hover {
  border-bottom: solid 2px hsl(229, 53%, 53%);
}

h1 .title {
  transition: color 0.2s ease-in-out;
}

h1 .title:hover {
  color: hsl(171, 100%, 41%);
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  background-color: rgba(145, 145, 145, 0.431);
}

.max-w {
  max-width: 300px;
  margin: 0 auto;
}
